/* Cabeçalho */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #05ec8c42;
  border-bottom: 2px solid #05ec8c;
}

header h1 {
  font-size: 40px;
  color: #056c4f;
  margin: 0;
}

.menu-btn {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #056c4f;
}

/* Menu lateral */
#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #056c4f;
  color: white;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1000;
}

#sidebar.active {
  left: 0;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  padding: 15px 20px;
}

#sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#sidebar ul li a:hover {
  background-color: #05ec8c;
  display: block;
}
#titulo-mapa {
  margin-bottom: 10px; /* reduz o espaço abaixo do título */
  text-align: center;
  color: #056c4f;
  font-size: 28px;
}

main {
  padding: 40px 20px;
}
.container {
  display: flex;
  flex-direction: column;      /* empilha os elementos verticalmente */
  justify-content: center;     /* centraliza verticalmente */
  align-items: center;         /* centraliza horizontalmente */
  height: 70vh;
}

#map {
  height: 500px;
  width: 100%;
  max-width: 900px;
  border: 4px solid #056c4f;         /* cor da borda */
  border-radius: 12px;               /* cantos arredondados */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* sombra leve */
}
